{{ if .Site.Params.algolia.application_id }}
  <div id="search-powered-by"></div>
  <div id="search-input"></div>
  <div id="search-results"></div>

  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4/dist/instantsearch.production.min.js"></script>

  <script id="algolia-search" 
          src="{{ "js/algolia-search.js" | relURL }}" 
          data-app-id="{{ .Site.Params.algolia.application_id }}" 
          data-api-key="{{ .Site.Params.algolia.search_only_api_key }}" 
          data-index-name="{{ .Site.Params.algolia.index_name }}" 
          defer>
  </script>
{{ end }}